.hsl-voucher-card {
    width: 292px;
    height: 76px;
    box-shadow: 0px 5px 5px rgba(80, 95, 121, 0.05);
    display: flex;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.hsl-voucher-card::before,
.hsl-voucher-card::after {
    position: absolute;
    content: '';
    display: block;
    width: 8px;
    height: 4px;
    background-color: #F0F3F5;
    right: calc(88px - 4px);

}

.hsl-voucher-card::before {
    top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.hsl-voucher-card::after {
    bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.hsl-voucher-card .voucher-left {
    position: relative;
    flex: 1;
    max-width: calc(292px - 88px);
}

.hsl-voucher-card .voucher-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 16px;
    line-height: 15px;
    font-size: 13px;
}

.hsl-voucher-card .voucher-value {
    font-weight: 600;
    color: #FF5630;
}

.hsl-voucher-card .voucher-title {
    font-weight: 400;
    color: #0D1A31;
    margin-top: 2px;
}

.hsl-voucher-card .voucher-subtitle {
    font-weight: 400;
    color: #A6AEBC;
}

.hsl-voucher-card.expired .voucher-value,
.hsl-voucher-card.expired .voucher-title {
    color: #A6AEBC;
}

.hsl-voucher-card .voucher-left::before {
    position: absolute;
    left: 0;
    content: '';
    width: 8px;
    height: 100%;
    display: block;
    border-left: 7px dotted #F0F3F5;
    transform: translate(-3px, -6px);
}

.hsl-voucher-card .voucher-right {
    flex-basis: 88px;
    position: relative;
}

.hsl-voucher-card .voucher-btn.hrv-btn {
    width: 56px;
    min-height: 22px;
    padding: 4px 7px;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    box-shadow: -2px 0px 3px rgba(80, 95, 121, 0.0493093), 0px 2px 3px rgba(80, 95, 121, 0.05);
}

.hsl-voucher-card .voucher-right::before {
    content: '';
    height: 56px;
    border-left: 1px dashed #EDF1F3;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.hsl-voucher-card .voucher-right::after {
    content: '';
    width: 8px;
    height: 100%;
    display: block;
    border-right: 7px dotted #F0F3F5;
    position: absolute;
    top: 0;
    transform: translateY(7px);
    left: calc(100% - 5px);
}

.voucher-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}