.onboarding-home {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loading-onboarding{
    width: 400px;
}
.user-input-email{
  display: flex;
  gap: 5px;
}